[submodule "wasmd"]
	path = wasmd
	url = https://github.com/CosmWasm/wasmd.git
[submodule "ibc-go"]
	path = ibc-go
	url = https://github.com/cosmos/ibc-go
[submodule "cosmos-sdk-go"]
	path = cosmos-sdk-go
	url = https://github.com/nymlab/cosmos-sdk.git
	branch = upgrade-50.5
